body 
{
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: grey;
}

form
{
    margin: 50px 450px 100px 450px;
    border: 1px solid #adadad;
    border-radius: 50px 0px;
    width: 30%;
    height: 520px;
    padding: 5;
    text-align: center;
    background-color: #eeeeee;
}
        
p
{
    margin: 40px 0 0;
    font-weight: 400;        
}

.título
{
    font-size: 27px;
    border-bottom: grey;
}

span
{
    color: #cf831e;
}

div{
    padding-bottom: 20px;
}
        
.form-fields
{
    border-top: solid 1px grey;
    margin: auto;
    padding: 30px 0 20px 0;
    text-align: left;
    width: 65%;
}

i{
    position: absolute;
    padding-top: 5px;
}

input
{
    box-shadow: 0 0 6px #333;
    padding: 4px;
    padding-left: 27px;
    width: 88%;
    height: 20px;
    margin: 3px 0 5px 0;
    border: none;
}
        
label
{
    font-size: 12px;
    font-weight: bolder;
}

.botao
{
    background-color: #ce7965;
    border-radius: 6px 6px;
    width: 80px;
    height: 35px;
    border: none;
    color: white;
    font-weight: 500;
}